/*Seccion Contacto*/
/* .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    padding: 0 2rem;
    background: #20272a;
    color: white;
} */

/* 
footer {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background-color: #181719;
    border-top: 4px solid rgb(27, 42, 65);
    color: white;
} */